@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../font/font1.eot?#iefix") format("embedded-opentype"), url("../font/font1.woff") format("woff"), url("../font/font1.ttf") format("truetype"), url("../font/font1.svg#glyphicons_halflingsregular") format("svg"); }

.cat {
    background-image:url('img/image1.jpg');
}